body{
    background-color: rgb(128, 126, 143);
    margin-top: 200px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.parent {
    display: flex;
    width: 360px;
    flex-wrap: wrap;
    margin-top: 30px ;
}

.card {
    margin: 10px;
    background-color: blue;
    width: 100px;
    height: 100px;
}

.title{
    font-size: 40px;
}

.text1{
    font-size: 40px;

}